PORT=4010
DB_HOST=localhost
DB_PORT=5432
DB_USER=
DB_PASS=
DB_NAME=
SHIPROCKET_MOCK_PUBLIC_URL=http://localhost:4010
SHIPROCKET_MOCK_WEBHOOK_URL=http://localhost:3000/api/v1/shipping/webhooks/tracking-updates
SHIPROCKET_MOCK_AUTO_DELIVER=true
